<div class="home_container">
    <div class="home_banner">
        <div class="content">
            <div class="create_whiteboard">
                <h1 class="action_button" (click)="createWhiteboard()">Create Whiteboard</h1>
            </div>

            <div class="join_whiteboard">
                <input type="text" placeholder="Enter Whiteboard ID" [(ngModel)]="whiteboardId">
                <h1 class="action_button" (click)="joinWhiteboard()">Join Whiteboard</h1>
            </div>
        </div>
    </div>

</div>