@import'../../../../assets/styles/variable.scss';

.whiteboard_container{
    background-color: $whiteboard-bg;
    display: flex;
    width: 100%;
    padding: 40px 50px 100px 50px;
    height: 100%;
    // box-sizing: border-box;

    .canvas{
        width: 100%;
        background-color: $white-color;
        cursor: crosshair;
        overflow: auto; // Add this line
        position: relative; // Add this line if your canvas is positioned absolutely
           border: 1px solid $primary-color; 

        canvas{
           box-sizing: border-box;
           position: absolute; // Add this line
        }
    }
}